<app-sidebar></app-sidebar>
<app-dash-header></app-dash-header>
<app-dash-main></app-dash-main>
<!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="../../assets/dash/vendor/global/global.min.js"></script>
    <script src="../../assets/dash/js/quixnav-init.js"></script>
    <script src="../../assets/dash/js/custom.min.js"></script>


    <!-- Vectormap -->
    <script src="../../assets/dash/vendor/raphael/raphael.min.js"></script>
    <script src="../../assets/dash/vendor/morris/morris.min.js"></script>


    <script src="../../assets/dash/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="../../assets/dash/vendor/chart.js/Chart.bundle.min.js"></script>

    <script src="../../assets/dash/vendor/gaugeJS/dist/gauge.min.js"></script>

    <!--  flot-chart js -->
    <script src="../../assets/dash/vendor/flot/jquery.flot.js"></script>
    <script src="../../assets/dash/vendor/flot/jquery.flot.resize.js"></script>

    <!-- Owl Carousel -->
    <script src="../../assets/dash/vendor/owl-carousel/js/owl.carousel.min.js"></script>

    <!-- Counter Up -->
    <script src="../../assets/dash/vendor/jqvmap/js/jquery.vmap.min.js"></script>
    <script src="../../assets/dash/vendor/jqvmap/js/jquery.vmap.usa.js"></script>
    <script src="../../assets/dash/vendor/jquery.counterup/jquery.counterup.min.js"></script>


    <script src="../../assets/dash/js/dashboard/dashboard-1.js"></script>
